@import url(https://bitbucket.org/zemoz/myanimelist-css/raw/002b2ec48d79b9c0ff6953ddc50f5b76804ec49e/Rotate.css); 

#list_surround > table:first-of-type:before { 
	position: absolute;
	display: block; 
	content: '';
	width: 379px;
	height: 381px;
	background: url(http://i.imgur.com/IsA9zRO.png);
	animation: Rotate 42s linear infinite alternate;
	-webkit-animation: Rotate 42s linear infinite alternate;
}

#list_surround > table:first-of-type:after { 
	pointer-events: none;
	position: absolute;
	display: block; 
	content: '';
	margin-left: -202px;
	margin-top: -58px;
	width: 1003px;
	height: 504px;
	background: url(http://i.imgur.com/mYxG9c2.png);
	z-index: -1;
}

#list_surround > table:first-of-type {
	position: absolute !important;
	left: -188px;
	top: -390px;
	width: auto;
	z-index: 1;
}

.status_not_selected, .status_selected { 
	position: relative !important;  
	display: block !important;
	width: 180px !important;
}

.status_not_selected a, .status_selected a { 
	position: absolute;
	display: inline-block;
	height: 74px;
	left: -186px;
	top: 0px;
	color: transparent;
	font-size: 0;
	z-index: 2;
}

.status_not_selected a:after, .status_selected a:after {
	display: inline-block; 
	content: '';
	width: 180px;
	height: 74px;
	line-height: 74px;
	color: #a5a5a5;
	font-family: 'Fire Dusk - Grunge';
	font-size: 30px;
	text-align: right;
	border-radius: 8px 0 0 8px;
	transition: all.5s linear;
	-webkit-transition: font-size .5s linear, color .5s linear;
}

/* Currently watching */
.status_not_selected a[href*="status=1"]:after, .status_selected a[href*="status=1"]:after { content: 'Mailing'; }
.status_not_selected a[href*="status=1"], .status_selected a[href*="status=1"] { margin-left: 22px; margin-top: 3px; }

/* Completed */
.status_not_selected a[href*="status=2"]:after, .status_selected a[href*="status=2"]:after  { content: 'Sent'; }
.status_not_selected a[href*="status=2"], .status_selected a[href*="status=2"] { margin-left: -12px; margin-top: 62px; }
  
/* On hold */
.status_not_selected  a[href*="status=3"]:after, .status_selected a[href*="status=3"]:after  { content: 'Waiting'; }
.status_not_selected  a[href*="status=3"], .status_selected a[href*="status=3"] { margin-left: -12px; margin-top: 121px; }

/* Dropped */
.status_not_selected a[href*="status=4"]:after, .status_selected a[href*="status=4"]:after  { content: 'Trash'; }
.status_not_selected a[href*="status=4"], .status_selected a[href*="status=4"] { margin-left: -12px; margin-top: 180px; }
  
/* Planned */
.status_not_selected  a[href*="status=6"]:after, .status_selected a[href*="status=6"]:after  { content: 'Draft'; }
.status_not_selected  a[href*="status=6"], .status_selected a[href*="status=6"] { margin-left: -12px; margin-top: 239px; }
  
/* All */
.status_not_selected  a[href*="status=7"]:after, .status_selected a[href*="status=7"]:after { content: 'All'; }
.status_not_selected  a[href*="status=7"], .status_selected a[href*="status=7"] { margin-left: 22px; margin-top: 298px; }

.status_not_selected a:hover:after, .status_selected a:after { 
	color: #bd5c27;
	/*font-size: 38px;*/
}