﻿@keyframes Rotate
{
	0% { transform: rotate(0deg); }
	8% { transform: rotate(30deg); }
	12% { transform: rotate(60deg); }
	16% { transform: rotate(60deg); }
	20% { transform: rotate(90deg); }
	24% { transform: rotate(90deg); }
	28% { transform: rotate(120deg); }
	32% { transform: rotate(120deg); }
	36% { transform: rotate(150deg); }
	40% { transform: rotate(150deg); }
	44% { transform: rotate(180deg); }
	48% { transform: rotate(180deg); }
	52% { transform: rotate(210deg); }
	56% { transform: rotate(210deg); }
	60% { transform: rotate(240deg); }
	64% { transform: rotate(240deg); }
	68% { transform: rotate(270deg); }
	72% { transform: rotate(270deg); }
	76% { transform: rotate(300deg); }
	80% { transform: rotate(300deg); }
	84% { transform: rotate(330deg); }
	88% { transform: rotate(330deg); }
	92% { transform: rotate(360deg); }
	100% { transform: rotate(360deg); }
}

@-moz-keyframes Rotate
{
	0% { -moz-transform: rotate(0deg); }
	8% { -moz-transform: rotate(30deg); }
	12% { -moz-transform: rotate(60deg); }
	16% { -moz-transform: rotate(60deg); }
	20% { -moz-transform: rotate(90deg); }
	24% { -moz-transform: rotate(90deg); }
	28% { -moz-transform: rotate(120deg); }
	32% { -moz-transform: rotate(120deg); }
	36% { -moz-transform: rotate(150deg); }
	40% { -moz-transform: rotate(150deg); }
	44% { -moz-transform: rotate(180deg); }
	48% { -moz-transform: rotate(180deg); }
	52% { -moz-transform: rotate(210deg); }
	56% { -moz-transform: rotate(210deg); }
	60% { -moz-transform: rotate(240deg); }
	64% { -moz-transform: rotate(240deg); }
	68% { -moz-transform: rotate(270deg); }
	72% { -moz-transform: rotate(270deg); }
	76% { -moz-transform: rotate(300deg); }
	80% { -moz-transform: rotate(300deg); }
	84% { -moz-transform: rotate(330deg); }
	88% { -moz-transform: rotate(330deg); }
	92% { -moz-transform: rotate(360deg); }
	100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes Rotate
{
	0% { -webkit-transform: rotate(0deg); }
	8% { -webkit-transform: rotate(30deg); }
	12% { -webkit-transform: rotate(60deg); }
	16% { -webkit-transform: rotate(60deg); }
	20% { -webkit-transform: rotate(90deg); }
	24% { -webkit-transform: rotate(90deg); }
	28% { -webkit-transform: rotate(120deg); }
	32% { -webkit-transform: rotate(120deg); }
	36% { -webkit-transform: rotate(150deg); }
	40% { -webkit-transform: rotate(150deg); }
	44% { -webkit-transform: rotate(180deg); }
	48% { -webkit-transform: rotate(180deg); }
	52% { -webkit-transform: rotate(210deg); }
	56% { -webkit-transform: rotate(210deg); }
	60% { -webkit-transform: rotate(240deg); }
	64% { -webkit-transform: rotate(240deg); }
	68% { -webkit-transform: rotate(270deg); }
	72% { -webkit-transform: rotate(270deg); }
	76% { -webkit-transform: rotate(300deg); }
	80% { -webkit-transform: rotate(300deg); }
	84% { -webkit-transform: rotate(330deg); }
	88% { -webkit-transform: rotate(330deg); }
	92% { -webkit-transform: rotate(360deg); }
	100% { -webkit-transform: rotate(360deg); }
}