td[class^='td']:first-child:not(.borderRBL) { width: 60px !important; text-align: left; padding-left: 6px; border-left: solid 2px #a5a5a5 !important; }

td[class^='td']:last-child:not(.borderRBL) { width: 60px !important; text-align: right !important; padding-right: 6px; border-right: solid 2px #a5a5a5 !important; }

tr:hover > .td1, tr:hover > .td2, tr:hover > .td1 a, tr:hover > .td2 a  { color: #FFFFFF; }

tr:hover > td[class^='td']:first-child { color: #2c261f !important; background-color: rgba(165, 165, 165, 1); }

tr:hover > td[class^='td']:nth-child(2) {
	background: linear-gradient(left, rgba(165, 165, 165, 1) 0%, rgba(44, 38, 31, 1) 50%);
	background: -moz-linear-gradient(left, rgba(165, 165, 165, 1) 0%, rgba(44, 38, 31, 1) 50%);
	background:  -webkit-gradient(
			     	linear,
				left bottom,
				right bottom,
				color-stop(0, rgba(165, 165, 165, 1)),
				color-stop(.5, rgba(44, 38, 31, 1)));
}

/* EDIT */
#list_surround table:nth-of-type(n+4) tbody div small { visibility: hidden; font-size: 0; }

#list_surround table:nth-of-type(n+4) tbody small a:last-of-type { display: none; }

#list_surround table:nth-of-type(n+4) tbody small a:first-of-type {
	position: absolute !important;
	display: block !important;
	left: 0;
	width: 0;
	color: #2c261f !important;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	background-color: rgba(165, 165, 165, 1);
	transition: left 1s linear, width 1s linear;
	-webkit-transition: left 1s linear, width 1s linear;
	z-index: 2;
}

#list_surround table:nth-of-type(n+4) tbody:hover small a:first-of-type { visibility: visible; left: -48px !important; width: 48px !important; color: #2c261f; }

#list_surround table:nth-of-type(n+4) small a:first-of-type:hover { background-color: rgba(189, 92, 39, 1); color: #FFFFFF !important; }

/* SORT */
#list_surround > table:nth-of-type(n+4) ~ .header_cw + table,
#list_surround > table:nth-of-type(n+4) ~ .header_completed + table,
#list_surround > table:nth-of-type(n+4) ~ .header_onhold + table,
#list_surround > table:nth-of-type(n+4) ~ .header_dropped + table,
#list_surround > table:nth-of-type(n+4) ~ .header_ptw + table {
    display: none;
} 

.table_header span { display: none; }/* Disable Tags in the Sort Options */
.table_header[width="125"] { display: none !important; }

.table_header { 
	position: absolute; 
	display: block; 
	margin-left: 528px;
	bottom: calc(100% + 16px);
	width: 64px;
	z-index: 2;
}

.table_headerLink {
	position: absolute;
	display: block;
	width: 80px;
	margin-left: 0;
	padding-right: 0;
	line-height: 15px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: right;
	transition: margin-left .3s linear, padding-right .3s linear;
	-webkit-transition: margin-left .3s linear, padding-right .3s linear;
}

.table_headerLink strong { 
	color: transparent !important;
	font-size: 0 !important;
}

.table_headerLink strong:before { 
	position: absolute;
	display: block;
	content: '';
	width: 80px;
	margin-left: 0;
	padding-right: 0;
	line-height: 15px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: right;
	transition: margin-left .3s linear, padding-right .3s linear;
	-moz-transition: margin-left .3s linear, padding-right .3s linear;
	-webkit-transition: margin-left .3s linear, padding-right .3s linear;
}

.table_headerLink strong:before { content: 'Title'; }
.table_header:nth-of-type(2) { bottom: calc(100% + 18px); }

.table_header:nth-of-type(3) { bottom: calc(100% + 36px); }
.table_header:nth-of-type(4) { bottom: calc(100% + 54px); }
.table_header:nth-of-type(5) { bottom: calc(100% + 72px); }
.table_header:nth-of-type(6) { bottom: calc(100% + 90px); }
.table_header:nth-of-type(7) { bottom: calc(100% + 108px); }
.table_header:nth-of-type(8) { bottom: calc(100% + 126px); }

.table_headerLink:hover, .table_header a:hover:before { 
	margin-left: -16px;
	padding-right: 16px; 
}

.table_headerLink:after {
	position: absolute;
	display: table-cell;
	content: '';
	margin-left: 84px;
	margin-top: -8px;
	width: 0;
	height: 0;
	background-color: rgba(255, 255, 255, 1);
	transition: width .3s linear;
	-webkit-transition: width .3s linear;
}
  
.table_headerLink:hover:after {
	width: 16px;
	height: 2px;
}