#mal\_control_strip {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 0 !important;
	height: 0 !important;
	background: none !important;
	z-index: 2;
}

#mal\_control_strip table {
	display: block !important;
	width: 111px !important; 
}

#mal\_control_strip td {
	display: block !important;
	width: 111px !important;
}

#mal\_control_strip img, #mal\_cs_powered, #mal\_cs_powered img, #mal\_cs_pic img, #mal\_cs_otherlinks strong,
#mal\_cs_otherlinks div a[href*="shared"], #mal\_cs_otherlinks div span[title*="Compatibility Score"] { display: none; }

#mal_cs_pic, #mal_cs_listinfo, #mal_cs_links { border-right: none !important; }

#mal\_cs_otherlinks div:nth-child(2) {  color: transparent !important; }

#mal\_cs_otherlinks div a[href*="register"], #mal_cs_otherlinks div a[href*="history"], #mal_cs_otherlinks div a[href*="list/"],
#mal_cs_otherlinks div a[href*="forum"], #mal_cs_otherlinks div a[href*="export"], #search, #mal\_cs_links div:last-of-type a:first-of-type, 
#mal\_cs_links div a[href$="/"], #mal\_cs_otherlinks div a[href*="faq"] { display: none !important; }

#mal\_cs_links div a[href*="addtolist"], #mal\_cs_listinfo div:first-of-type a, 
#mal\_cs_links div:last-of-type a:last-of-type { 
	content: none !important;
	color: transparent !important; 
	font-size: 0 !important;
}

#mal\_cs_listinfo div:first-of-type a, #mal\_cs_links div:last-of-type a:last-of-type, #mal_cs_links div a[href*="addtolist"] { 
	position: absolute !important;
	display: block !important;
	left: 1007px !important;
	top: 263px !important;
	width: 32px;
	height: 32px;
	background-image: url(http://i.imgur.com/D2PIWwG.png);
	z-index: 1;
}

/*  USERNAME */
#mal\_cs_listinfo div:first-of-type a { background-position: 0 0; }
#mal\_cs_listinfo div:first-of-type a:hover { background-position: 32px 0; }

/* ADD */
#mal\_cs_links div a[href*="addtolist"] { top: 295px !important; background-position: 0 32px; }
#mal\_cs_links div a[href*="addtolist"]:hover { background-position: 32px 32px; }

/* MANGALIST */
#mal\_cs_links div:last-of-type a:last-of-type { top: 327px !important; background-position: 0 64px; }
#mal\_cs_links div:last-of-type a:last-of-type:hover { background-position: 32px 64px; }

/* LOGIN, LOGOUT */
#mal\_cs_listinfo div:last-of-type a, #mal\_cs_otherlinks div a[href*="login"] {
	position: absolute !important;
	display: block !important;
	width: 111px;
	height: 32px;
	top: 38px !important;
	left: 168px !important;
	color: transparent !important; 
	font-size: 0 !important;
	background-image: url(http://i.imgur.com/S96OhbT.png) !important;
	z-index: 3;
}

#mal\_cs_otherlinks div a[href*="login"] { background-position: 0 0; }

#mal\_cs_listinfo div:last-of-type a { background-position: 0 32px; }

#mal\_cs_listinfo div:last-of-type a:before, #mal\_cs_otherlinks div a[href*="login"]:before {
	position: absolute;
	display: table-cell;
	content: '';
	margin-left: 124px;
	margin-top: 26px;
	width: 0;
	height: 0;
	border-radius: 10px;
	background-color: rgba(165, 165, 165, 1);
	transition: margin-left .5s linear, margin-top .5s linear, width .5s linear, height .5s linear;
	-moz-transition: margin-left .5s linear, margin-top .5s linear, width .5s linear, height .5s linear;
	-webkit-transition: margin-left .5s linear, margin-top .5s linear, width .5s linear, height .5s linear;
}

#mal\_cs_listinfo div:last-of-type a:hover:before, #mal\_cs_otherlinks div a[href*="login"]:hover:before {
	margin-left: 120px;
	margin-top: 22px;
	width: 8px;
	height: 8px;
}