﻿@keyframes Wrap
{
	0% { opacity: 1; }
	5% { opacity: .7; }
	10% { opacity: 1; }
	15% { opacity: .7; }
	20% { opacity: 1; }
	25% { opacity: .7; }
	30% { opacity: 1; }
	100% { opacity: 1; }
}

@-moz-keyframes Wrap
{
	0% { opacity: 1; }
	5% { opacity: .7; }
	10% { opacity: 1; }
	15% { opacity: .7; }
	20% { opacity: 1; }
	25% { opacity: .7; }
	30% { opacity: 1; }
	100% { opacity: 1; }
}

@-webkit-keyframes Wrap
{
	0% { opacity: 1; }
	5% { opacity: .7; }
	10% { opacity: 1; }
	15% { opacity: .7; }
	20% { opacity: 1; }
	25% { opacity: .7; }
	30% { opacity: 1; }
	100% { opacity: 1; }
}